main {
  padding: 100px 16px 100px 16px;
  min-height: 100vh;
}

.Container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

@media screen and (min-width: 782px) {
  .Container {
    gap: 100px 150px;
  }
}
