header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0057B3;
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  z-index: 2;
}

.Title {
  position: relative;
  color: white;
  background: none;
  font-size: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 782px) {
  .Title {
    font-size: 24px;
  }
}